*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Login */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height:100%;
    font-family: sans-serif;
}
.background{
    position: fixed;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.521), rgb(0, 0, 0)), url("trator.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    z-index: -1;

}
.container{

    padding: 15px;
    display: grid;
    grid-template-areas: auto auto auto auto auto/auto auto auto auto;
}

.form{
    /* background: rgba(0, 0, 0, 0.945); */
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
    background-color: gray;
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    height: 54em;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 1em;
    color: aliceblue;
      
}

#user, #password{
    padding: 0.7em 4em;
    border: 2px solid gray;
    border-radius: 0.8em;
    margin-top: 0.2em;
}



#btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0.7em;
    
}

#btn_form {
    padding: 0.5em 7em;
    border: 0.5px solid black;
    border-radius: 1em;
    background-color: green;
    font-size: 1em;
}

 .form_container input::placeholder { /*Para mudar dentro da caixa de texto */
    color: gray; 
  }

#txt_cadastrar{
    display: flex;
    padding-top: 0.5em;
}




    /* @media screen {
        
    } */


.outro{
    grid-area: a2;
    
}



/* navbar */

/* #nav{
    list-style: none;
    background-color: #183800;
    color: white;
    /* position: ; */

    
/* } */

/* #logo {
    display: flex;
    align-items: right;
    height: 100px;
    width: 100px;
} */


/* a:hover{
    color:rgb(176, 172, 172)
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

a{
    color:white;
    text-decoration: none ;
}

#imgLog{
    display: flex;
    align-items: center;
    justify-content:space-between;
} */ 

#logo {
    width: 25vh;
    display: flex;
    
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    
   
}

nav{

    background-color: white;
    display: flex;
    align-items: center;
    font-size: 2vh;
    background-color: #183800;
    
}

a:hover{
    color:rgb(176, 172, 172)
}

ul{
    list-style: none;
    padding-top: 1em; /*alterar para mudar a largura da nav */
    padding-bottom: 1em; /*alterar para mudar a largura da nav */
}

li{
     padding-top: 2.5em; /*alterar para mudar o posicionamento dos links na nav */
    padding-left: 5em;
}

a{
    color:white;
    text-decoration: none;
}


/* carrossel */

/* .carousel-inner{
    height: 50em;
    width: 100%;
} */

